body {
  margin-top: 50px;
  font-family: Helvetica Neue, Helvetica, Arial;
}
.content {
  margin-top: 30px;
  width: 100%;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: #ddd;
  -webkit-box-shadow: 0px 8px 6px 6px #000000;
  -moz-box-shadow: 0px 8px 6px 6px #000000;
  box-shadow: 0px 8px 6px 6px #000000;
}
footer p {
  padding: 5px 0 12px 10px;
}
a.active {
  color: red;
}
