extends ../layouts/default

block content
  .row
    .col-md-offset-1.col-md-4
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png")
      a(href="/auth/github")
        img(src="/img/icons/github.png")
      a(href="/auth/twitter")
        img(src="/img/icons/twitter.png")
      a(href="/auth/google")
        img(src="/img/icons/google.png")
    .col-md-6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-dismissable.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)")
          ul
            each error in errors
              li= error.type

      block auth


